/*Base Styling*/
html,
body {
	background-color: #EDF2F6;
	 box-sizing:border-box;
    -moz-box-sizing:border-box;
	font-family: sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	width: 100%;
}

.accent {
	color: #13A4FB;
}

ul {
	list-style-type: none;
}

.oval {
	border-outline: none;
	border-radius: 20em;
	background-color: white;
	padding: 10px;
}

/*Nav Sidebar (LEFT)*/
nav {
	background-color: #354052;
	color: #A4AFC1;
	font-size: 0.9rem;
	height: 220%;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

.menu {
	display: none !important;
}

.nav-top,
.nav-main,
.nav-admin,
.nav-categories {
	padding: 10px 0;
	border-bottom: 2px solid #28303E;
}

ul {
	margin: 0;
	padding: 0;
}

.nav-ul li,
h4,
p {
	margin: 0;
	padding: 15px;
}

.profile-name {
	font-size: 1rem;
	margin: 15px 0;
}

nav .fa {
	width: 35px;
}

.nav-top {
	text-align: center;
}

.profile-pic {
	margin-top: 20px;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

.nav-categories {
	border: none;
}

.yellow {
	color: #F7D707;
}

.blue {
	color: #29AFFA;
}

.red {
	color: #EA1B61;
}

.green {
	color: #00A987;
}

/*RIGHT*/
.main-container {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
}

/*Search Section*/
.search {
	background-color: white;
	border-bottom: 2px solid #E5E6E8;
}

input {
	color: #53565A;
	font-family: sans-serif;
	font-size: 1.3rem;
	height: 60px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 80px;
	right: 200px;
	width: 700px;
	border: none;
}

::placeholder {
	color: #848990;
	font-family: FontAwesome, sans-serif;
	font-size: 1.2rem;
}

.search button,
.right-buttons button {
	background-color: white;
	border: none;
	height: 80px;
	margin: 0;
	padding: 10px;
	width: 80px;
	color: #848990;
}

.search .left-search {
	border-right: 2px solid #E5E6E8;
}

.right-buttons button {
	border-left: 2px solid #E5E6E8;
	position: relative;
}

.right-buttons {
	float: right;

}

/*Title Header Section*/
.title-header {
	background-color: white;
	padding: 25px 25px 10px 25px;
	border-bottom: 2px solid #CBCED1;

	color: #53565A;
}

.title-container {
	display: flex;
	justify-content: space-between;
}

.title-div {
	margin: 20px 0 10px 20px;
}

h1 {
	font-weight: normal;
	margin: 0 0 10px 0;
}

.location {
	margin: 0 0 10px 0;
}

.fa-circle {
	color: green;
}

.header-nav-list {
	margin-top: 10px;
}

.header-nav-list li {
	font-size: 0.9rem;
}

.header-btns {
	align-self: center;
	border-radius: 10px;
	border-collapse: separate;
	font-size: 0.9rem;
	margin-left: 15px;
}

.header-btns button {
	margin: 5px;
	height: 45px;
	width: 45px;
	border: 2px solid #CBCED1;

	color: #53565A;
}

.open {
	width: 120px !important;
}

a {
	color: #29AFFA;
}

.header-li {	
	display: inline-block;
	margin: 10px 20px;
}

.more-li {
	display: none;
	margin: 10px 20px;
	font-weight: bold;

}

.dash {
	margin: 0 5px;
}

/*Graphs Section*/
.graphs {
	align-content: center;
	justify-content: center;
	background-color: #EDF2F6;
	border-bottom: 2px solid #CBCED1;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
}

.graph-img {
	width: 500px;
}

.graph-btn {
	border: 2px solid #CBCED1;
	color: #53565A;
	display: block;
	font-size: 0.9rem;
	margin: 15px 0 10px 150px;
}

/*Main Section*/
.main-section {
	justify-content: center;
	background-color: #EDF2F6;
	display: flex;
	flex-wrap: wrap;

}

.inline-p {
	display: inline-block;
}

table {
	background-color: white;
	border-collapse: collapse;
	color: #53565A;
	font-size: 1rem;
	margin: 60px 45px;
	width: 650px;
}

th {
	background-color: #6F7E95;
	color: white;
	font-weight: normal;
	padding: 1px 30px;
}

th > p {
	text-align: left;
}

td:first-child {
	font-size: 0.9rem;
}

.job-description {
	font-size: 1rem;
	width: 130px;
	text-align: left;
}

.edit {
	background-color: #7F8BA6;
	border: none;
	color: white;
	padding: 10px;
}

td {
	border-bottom: 1px solid #CBCED1;
	padding: 27.5px;

}

aside {
	margin: 60px 45px 0 0;
	width: 300px;
}

.aside-btn {
	border: none;
	color: white;
	margin: 0 0 20px 0;
	width: 100%;
	height: 50px;
	position: relative;
}

.aside-btn > i {
	position: absolute;
	left: 30px;	
}

.facebook {
	background-color: #4C72C3;
	flex-direction: center;
}

.twitter {
	background-color: #00A8EF;
}

.linkedin {
	background-color: #027EB9;
	margin-bottom: 12px;
}

h2 {
	font-size: 1.3rem;
	font-weight: normal;
	margin: 30px 0 5px 0;
}

h2 .fa {
	margin-right: 10px;
}

.link-job,
.button-widget {
	border-bottom: 1px solid #CBCED1;
	padding-bottom: 18px;
}

.link-job,
.button-widget,
.upload-resumes {
	color: #53565A;
	height: 150px;
	position: relative;
}

.copy-p {
	margin: 10px 0;
}

.copy-text {
	background-color: white;
	display: inline-block;
	padding: 15px;
	margin: 10px 0;

	position: absolute;
	left: 0;
	right: 70px;
	bottom: 20px;


	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.copy-btn {
	background-color: #47BBBC;
	border: none;
	color: white;
	height: 44px;
	margin-right: 0;
	width: 70px;

	position: absolute;
	right: 0;
	bottom: 30px;
}

.email-text {
	width: 90%;
}

/*HOVER STATES*/
.nav-ul li:hover {
	color: white;
	background-color: #28303E;
}

.search button:hover {
	background-color: #13A4FB;
	color: white;
	cursor: pointer;
}

.search button:hover .accent {
	color: white;
}

.header-li:hover {
	color: black;
	font-weight: bold;
}

.more-li:hover {
	color: black;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 1300px) {
	nav {
		height: 360%;
	}

	.title-container {
		flex-wrap: wrap;
	}

	table {
		width: 600px;
	}

	aside {
		margin: 10px 45px;
		width: 600px;
	}

	.email-text {
		width: 97%;
	}
}

@media screen and (max-width: 1080px) {
	.header-li {
		width: 100px;
	}

	nav {
		height: 380%;
	}

}

@media screen and (max-width: 985px) {
	.header-li {
		width: 80px;
	}

	nav {
		display: flex;
		justify-content:space-between;
		height: 80px;
		width: 100%;
	}

	.nav-top {
		display: flex;
	}

	.profile-pic {
		margin: 8.5px 0;
		width: 40px;
		height: 40px;
	}

	.profile-name {
		display: inline-flex;
		margin: 22.5px 15px;
	}

	.nav-main, 
	.nav-admin, 
	.nav-categories {
		border: none;
		display: inline-flex;
		margin: 10px;
		padding: 0;
	}

	.nav-ul {
		display: none;
	}

	.main-container {
		top: 80px;
		left: 0;
		width: 100%;
	}

	.title-header {
		padding: 15px 5px;
	}

	.header-btns {
		margin-right: 15px;
	}

	table, aside {
		width: 80%;
	}

	input {
		width: 400px;
	}
}

@media screen and (max-width: 650px) {
	.nav-main, 
	.nav-admin, 
	.nav-categories {
		display: none;
	}
	
	.menu {
		display: inline-flex !important;
		padding: 13px;
	}

	aside {
		width: 85%;
	}

	table {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.job-description {
		width: auto;
	}

	input {
		top: 80px;
		left: 0;
		right: 0;
		width: 96.5%;
		border-top: 2px solid #E5E6E8;
	}

	.search {
		align-content: center;
		display: flex;
		height: 162px;
	}

	.search .left-search {
		position: static;
		border: none;
		border-left: 2px solid #E5E6E8;
	}

	.right-buttons{
		float: none;
		border-right: 2px solid #E5E6E8;
	}

	.top-line-search {
		justify-content: center;
		display: flex;
		margin: 0 auto;
	}

	.notifications,
	.broadcast,
	.activity,
	.interviews,
	.job-board {
		display: none;
	}

	.header-li {
		margin-right: 0;
		width: auto;
	}

	.more-li {
		display: inline-block;
	}

}

@media screen and (max-width: 400px) {
	.nav-main, 
	.nav-admin, 
	.nav-categories {
		display: none;
	}
	
	.menu {
		display: inline-flex !important;
		padding: 13px;
	}

	.open {
		width: 80px !important;
	}

	.search .left-search {
		width: 70px;
	}
	.search button {
		width: 70px;
	}

	th,
	td {
		padding-left: 5px;
		padding-right: 5px;
	}
}







