/*Base Styling*/
html,
body {
	background-color: #EDF2F6;
	 box-sizing:border-box;
    -moz-box-sizing:border-box;
	font-family: sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	width: 100%;
}

ul {
	list-style-type: none;
}

.oval {
	border-outline: none;
	border-radius: 20em;
	background-color: white;
	padding: 10px;
}

/*Nav Sidebar (LEFT)*/
nav {
	background-color: #354052;
	color: #A4AFC1;
	font-size: 0.9rem;
	height: 200%;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

.menu {
	display: none !important;
	/*visibility: hidden;*/
}

.nav-top,
.nav-main,
.nav-admin,
.nav-categories {
	padding: 10px 20px;
	border-bottom: 2px solid black;
}

ul {
	margin: 0;
	padding: 0;
}

li,
h4,
p {
	margin: 25px 0;
}

.profile-name {
	font-size: 1rem;
	margin: 15px 0;
}

nav .fa {
	width: 35px;
}

.nav-top {
	text-align: center;
}

.profile-pic {
	margin-top: 20px;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

.nav-categories {
	border: none;
}

.yellow {
	color: #F7D707;
}

.blue {
	color: #29AFFA;
}

.red {
	color: #EA1B61;
}

.green {
	color: #00A987;
}

/*RIGHT*/
.main-container {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
}

/*Search Section*/
.search {
	background-color: white;
	border-bottom: 1px solid gray;
}

input {
	font-family: fontawesome;
	height: 60px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 80px;
	right: 200px;
	width: 700px;
	border: none;
}

::placeholder {
	font-family: sans-serif;
	font-family: FontAwesome;
	font-size: 1.5rem;
}

.search button,
.right-buttons button {
	background-color: white;
	border: none;
	height: 80px;
	margin: 0;
	padding: 10px;
	width: 80px;
}

.search .left-search {
	border-right: 1px solid gray;
}

.right-buttons button {
	float: right;
	border-left: 1px solid gray;
}

.right-buttons {
	position: absolute;
	top: 0;
	right: 0;
}


/*Title Header Section*/
.title-header {
	background-color: white;
	padding: 25px 25px 10px 25px;
	border-bottom: 1px solid gray;
}

.title-container {
	display: flex;
	justify-content: space-between;
}

.title-div {
	margin: 20px;
}

h1 {
	font-weight: normal;
	margin: 0 0 10px 0;
}

.location {
	/*font-size: 0.9rem;*/
	margin: 0 0 10px 0;
}

.fa-circle {
	color: green;
}

.header-nav-list li {
	font-size: 0.9rem;
}

.header-btns {
	align-self: center;
	border-radius: 10px;
	border-collapse: separate;
	font-size: 0.9rem;
	margin-left: 15px;
}

.header-btns button {
	margin: 5px;
	height: 45px;
	width: 45px;
	border: 1px solid gray;
}

.open {
	width: 120px !important;
}

a {
	color: #29AFFA;
}

.header-li {	
	display: inline-block;
	margin: 10px 20px;
}

.more-li {
	display: none;
	margin: 10px 20px;

}

.dash {
	margin: 0 5px;
}

/*Graphs Section*/
.graphs {
	align-content: center;
	justify-content: center;
	background-color: #EDF2F6;
	border-bottom: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
}

.graph-img {
	width: 500px;
}

.graph-btn {
	border: 1px solid gray;
	display: block;
	font-size: 0.9rem;
	margin: 15px 0 10px 150px;
}

/*Main Section*/
.main-section {
	justify-content: center;
	background-color: #EDF2F6;
	display: flex;
	flex-wrap: wrap;

}

.inline-p {
	display: inline-block;
}

table {
	background-color: white;
	border-collapse: collapse;
	font-size: 1.1rem;
	margin: 60px 45px;
	width: 685px;
}

th {
	background-color: #6F7E95;
	color: white;
	font-weight: normal;
	padding: 1px 30px;
}

th > p {
	text-align: left;
}

td:first-child {
	font-size: 0.9rem;
}

.job-description {
	width: 170px;
	text-align: left;
}

.edit {
	background-color: #7F8BA6;
	border: none;
	color: white;
	padding: 10px;
}

td {
	border-bottom: 1px solid gray;
	padding: 27.5px;

}

aside {
	margin: 60px 45px 0 0;
	width: 300px;
}

.aside-btn {
	border: none;
	color: white;
	margin: 0 0 20px 0;
	width: 100%;
	height: 50px;
	position: relative;
}

.aside-btn > i {
	position: absolute;
	left: 30px;	
}

.facebook {
	background-color: #4C72C3;
	flex-direction: center;
}

.twitter {
	background-color: #00A8EF;
}

.linkedin {
	background-color: #027EB9;
	margin-bottom: 12px;
}

h2 {
	font-size: 1.3rem;
	font-weight: normal;
	margin: 30px 0 5px 0;
}

h2 .fa {
	margin-right: 10px;
}

.link-job,
.button-widget {
	border-bottom: 1px solid gray;
	padding-bottom: 18px;
}

.link-job,
.button-widget,
.upload-resumes {
	height: 150px;
	position: relative;
}

.copy-p {
	margin: 10px 0;
}

.copy-text {
	background-color: white;
	display: inline-block;
	padding: 15px;
	margin: 10px 0;

	position: absolute;
	left: 0;
	right: 70px;
	bottom: 20px;
}

.copy-btn {
	background-color: #47BBBC;
	border: none;
	color: white;
	height: 44px;
	margin-right: 0;
	width: 70px;

	position: absolute;
	right: 0;
	bottom: 30px;
}

.email-text {
	width: 90%;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
	.title-container {
		flex-wrap: wrap;
	}

	.more-li {
		display: inline-block;
		font-weight: bold;
	}

	.broadcast,
	.notifications,
	.activity,
	.interviews {
		display: none;
	}

}

@media screen and (max-width: 700px) {
	nav {
		display: flex;
		justify-content:space-between;
		height: 55px;
		width: 100%;
	}

	.nav-top {
		display: flex;
	}

	.profile-pic {
		margin: 0;
		width: 30px;
	}

	p {
		display: inline-flex;
		margin-left: 10px;

	}

	.nav-main, 
	.nav-admin, 
	.nav-categories {
		border: none;
		display: inline-flex;
	}

	ul {
		display: none;
	}

	.main-container {
		top: 55px;
		left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.nav-main, 
	.nav-admin, 
	.nav-categories {
		display: none;
	}
	
	.menu {
		display: inline-flex !important;
		padding: 13px;
	}

}







