/*Base Styling*/
html,
body {
	 box-sizing:border-box;
    -moz-box-sizing:border-box;
	font-family: sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	width: 100%;
}

ul {
	list-style-type: none;
}

.oval {
	border-outline: none;
	border-radius: 20em;
	background-color: white;
	padding: 10px;
}

/*Nav Sidebar (LEFT)*/
nav {
	background-color: #354052;
	color: #A4AFC1;
	/*float: left;*/
	height: 100%;
	width: 162px;

	position: fixed;
	top: 0;
	left: 0;
}

.menu {
	display: none !important;
	/*visibility: hidden;*/
}

.nav-top,
.nav-main,
.nav-admin,
.nav-categories {
	padding: 10px;
	border-bottom: 2px solid black;
}

ul {
	margin: 0;
	padding: 0;
}

li,
h4,
p {
	margin: 10px 0;
}

nav .fa {
	width: 25px;
}

.nav-top {
	text-align: center;
}

.profile-pic {
	margin-top: 10px;
	border-radius: 50%;
	width: 60px;
}

.nav-categories {
	border: none;
}

.yellow {
	color: #F7D707;
}

.blue {
	color: #29AFFA;
}

.red {
	color: #EA1B61;
}

.green {
	color: #00A987;
}

/*RIGHT*/
.main-container {
	position: absolute;
	top: 0;
	left: 162px;
	right: 0;
}

/*Search Section*/
.search {
	border-bottom: 2px solid black;
}

input {
	height: 26px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 50px;
	right: 200px;
	width: 1000px;
	border: none;
}

.search button,
.right-buttons button {
	height: 50px;
	margin: 0;
	padding: 10px;
	width: 50px;
}

.right-buttons button {
	float: right;
}

.right-buttons {
	position: absolute;
	top: 0;
	right: 0;
}


/*Title Header Section*/
.title-header {
	padding: 25px 25px 10px 25px;
	border-bottom: 2px solid black;
}

.title-container {
	display: flex;
	justify-content: space-between;
}

.title-div {
	margin: 20px;
}

h1 {
	font-size: 1.75em;
	margin: 0 0 10px 0;
}

.location {
	margin: 0;
}

.fa-circle {
	color: green;
}

.header-btns {
	align-self: center;
	border-radius: 10px;
	border-collapse: separate;
}

.header-btns button {
	margin: 5px;
}

a {
	color: #29AFFA;
}

/*.header-nav-list li{*/

.header-li {	
	display: inline-block;
	margin: 10px 20px;
}

.more-li {
	display: none;
	margin: 10px 20px;
	
}

.dash {
	margin: 0 5px;
}

/*Graphs Section*/
.graphs {
	background-color: #EDF2F6;
	border-bottom: 2px solid black;
	display: flex;
	padding: 40px;
}

.graph-img {
	width: 470px;
}

.graph-btn {
	margin-left: 150px;
}

/*Main Section*/
.main-section {
	background-color: #EDF2F6;

}

/*MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
	.title-container {
		flex-wrap: wrap;
	}

	.more-li {
		display: inline-block;
	}

	.broadcast,
	.notifications {
		display: none;
	}


}



@media screen and (max-width: 700px) {
	nav {
		display: flex;
		justify-content:space-between;
		height: 55px;
		width: 100%;
	}

	.nav-top {
		display: flex;
	}

	.profile-pic {
		margin: 0;
		width: 30px;
	}

	p {
		display: inline-flex;
		margin-left: 10px;

	}

	.nav-main, 
	.nav-admin, 
	.nav-categories {
		border: none;
		display: inline-flex;
	}

	ul {
		display: none;
	}

	.main-container {
		top: 55px;
		left: 0;
		width: 100%;
	}
}


@media screen and (max-width: 400px) {
	.nav-main, 
	.nav-admin, 
	.nav-categories {
		display: none;
	}
	
	.menu {
		display: inline-flex !important;
		padding: 13px;
	}

}







